{% extends 'faculty_navbar.html' %}

{% block content %}
<div>
    <table class="table">
        <thead class="table-dark" style="margin: 10px;">
            <tr>
                <th scope="col">Sr No.</th>
                <th scope="col">Event Name</th>
                <th scope="col">Course Name</th>
                <th scope="col">Year</th>
                <th scope="col">Branch</th>
                <th scope="col">Delete Feedback Form</th>
            </tr>
        </thead>
        <tbody>
            {% for i in feedbacks %}
            <tr>
                <td scope="row">{{loop.index}}</td>
                <td>{{i[5]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>
                    <form action="{{url_for('view', id=i[0])}}" method="POST">
                        <button value={{i[0]}} name="view" id="bt">View Feedbacks</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}