{% extends 'faculty_navbar.html' %}
{% block content %}
{% if feedback_data|length==0 %}
<div class="container" style="margin-top: 20px;">
    <h2>No Feedbacks to View</h2>
</div>
{% else %}
<div class="container1">
    <div id="abc" style="display: grid; justify-content: center; align-content: center; background-color: black;">
        <img style="margin-top: 20px; margin-left: 20px; border-radius: 2px;"
            src="{{url_for('static', filename='bar_chart.png')}}">
    </div>
    <div style=" background-color: #b85042; display: grid; justify-content: center; align-content: center; color:
            aliceblue; ">
        <img style="margin-top: 20px; margin-left: 20px; border-radius: 2px;"
            src="{{url_for('static', filename='pie_plot.png')}}">
    </div>
</div>
<bold>
    <hr style="height: 7px; background-color: #141414;">
</bold>
<div class="container2">
    <label style="margin: 40px 100px 10px 150px;">Overall Score for the Session - {{avg}}/5</label>
    <h4 style="margin: 40px 100px 10px 150px;"><b>Feedbacks: </b></h4>
    {% for i in feedback_data %}
    {% if result[loop.index-1]==0 %}
    <div class="card"
        style="margin: 10px 350px 10px 150px; border-color: yellow; border-radius: 50px; border-width: 4px;">
        <div class=" card-body">
            <p class="card-text">{{i[0]}}</p>
        </div>
    </div>
    {% elif result[loop.index-1]==1 %}
    <div class="card"
        style="margin: 10px 350px 10px 150px; border-color: green; border-radius: 50px; border-width: 4px;">
        <div class=" card-body">
            <p class="card-text">{{i[0]}}</p>
        </div>
    </div>
    {% elif result[loop.index-1]==-1 %}
    <div class="card" style="margin: 10px 350px 10px 150px; border-color: red; border-radius: 50px; border-width: 4px;">
        <div class=" card-body">
            <p class="card-text">{{i[0]}}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-color: white;
    }

    .faculty-navbar {
        margin-bottom: 0px;
    }

    .menu {
        color: #fff;
        text-decoration: none;
        padding: 0 15px;
        font-size: 18px;
        line-height: 50px;
    }

    @media (max-width: 768px) {

        .menu {
            font-size: 16px;
            padding: 0 10px;
            line-height: normal;
        }
    }

    .container1 {
        display: grid;
        margin: 0px 0px 0px 0px;
        /* padding: 5px; */
        height: 70vh;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        border-radius: 5px;
    }
</style>
{% endblock %}