<!DOCTYPE html>
<html>

<head>
	<title>Sentiment Analysis</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='student_login.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<img class="wave" src="{{url_for('static', filename='wave.png')}}">
	<div class="container">
		<div class="img">
		</div>
		<div class="login-content">
			<form action="{{url_for('student')}}" method="POST">
				<img src="{{url_for('static', filename='student_avatar.svg')}}">
				<h2 class="title">Welcome</h2>
				{% if error %}
				<p style="color: red;">{{error}}</p>
				{% endif %}
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Moodle ID</h5>
						<input type="text" class="input" name="uname" required>
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5>Password</h5>
						<input type="password" class="input" name="pwd" required>
					</div>
				</div>
				<a href="#">Forgot Password?</a>
				<input type="submit" class="btn" value="Login">


				<p>Don't have an account? <a style="text-align: center;" href="{{url_for('student_registration')}}">Sign
						up</a></p>
				<!-- <div id="button1">
					<button id="backButton"
						style="font-size: 40px; background-color: red; border-color: white;box-shadow: white;" i
						class="fa-sharp fa-solid fa-arrow-left"><a href="{{url_for('main')}}"></a></button>
				</div> -->
			</form>
		</div>
	</div>
	<script>
		const inputs = document.querySelectorAll(".input");


		function addcl() {
			let parent = this.parentNode.parentNode;
			parent.classList.add("focus");
		}

		function remcl() {
			let parent = this.parentNode.parentNode;
			if (this.value == "") {
				parent.classList.remove("focus");
			}
		}


		inputs.forEach(input => {
			input.addEventListener("focus", addcl);
			input.addEventListener("blur", remcl);
		});
	</script>
</body>

</html>