{% extends 'student_navbar.html' %}

{% block content %}
<div>
    <table class="table">
        <thead class="table-dark" style="margin: 10px;">
            <tr>
                <th scope="col">Form No.</th>
                <th scope="col">Event Name</th>
                <th scope="col">Course Name</th>
                <th scope="col">Year</th>
                <th scope="col">Branch</th>
                <th scope="col">Register</th>
            </tr>
        </thead>
        <tbody>
            {% for i in feedback_forms %}
            <tr>
                <td scope="row">{{i[0]}}</td>
                <td scope="row">{{i[5]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>
                    <form action="{{url_for('change_status')}}" method="POST">
                        {% if i[7]==1 %}
                        <button value={{i[0]}} name="edit" id="bt">Open Registrations</button>
                        {% else %}
                        <button value={{i[0]}} name="edit" id="bt">Close Registrations</button>
                        {% endif %}
                    </form>
                    <!-- <button value={{i[0]}} name="register" id="bt">Register for Event</button> -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}